{
  "env": {
    "development": {
      "presets": [["es2015", {"modules": false}], "react", "stage-0"],
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "syntax-dynamic-import",
        "syntax-flow",
        "transform-flow-strip-types"
      ]
    },
    "production": {
      "presets": [["es2015", {"modules": false}], "react", "stage-0"],
      "plugins": [
        "transform-decorators-legacy",
        "syntax-dynamic-import",
        "syntax-flow",
        "transform-flow-strip-types"
      ]
    }
  }
}
