@import "~normalize.css";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
#root {
  background: black;
  height: 100vh;
  font-family: SavoyeLetPlain;
  overflow: hidden;
}

.application {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100vh;
  max-width: 50em;
  margin: auto;
  padding: 0.5em;
}

.aboutpage > *,
.application > *,
footer > *,
header > *,
.menu-container ul > *,
.social ul > * {
  flex: 1 1 auto;
}

.aboutpage,
footer,
header,
.homepage {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid gray;
}

footer {
  border-top: 1px solid gray;
}

h1.site-title {
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
}

.social ul,
.menu-container ul {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.25em;
}

.legal {
  text-align: center;
  font-size: 1em;
}

.aboutpage,
.error,
.homepage,
.loader,
.page404 {
  height: 70vh;
  padding: 0.5em 0 0.5em 0;
}

.error,
.loader {
  margin: auto;
  text-align: center;
}

.image-gallery,
.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide {
  flex: 11;
  background: white;
  overflow-y: hidden;
}



.nav-portfolio {
  flex: 1;
}

/*nav {
  border-bottom: 1px solid gray;
}*/
.social {
  padding: 0.5em;
}

img.profile-pic {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 12.5em;
  width: 12.5em;
}

.description {
  font-size: 1.5em;
  overflow-y: scroll;
}

a.icon {
  color: black;
}


@media only screen
and (min-width: 23.438em) /*375*/
and (max-width: 41.688em) /*667*/
and (-webkit-min-device-pixel-ratio: 2) {
  .application {
    background: lightcoral;
  }
  .aboutpage {
    flex-direction: row;
  }
}

@media only screen
and (min-width: 48em)
and (max-width: 64em)
and (-webkit-min-device-pixel-ratio: 2) {
  .application {
    background: lightseagreen;
  }
}

@media only screen
and (min-width: 75em)
and (max-width: 100em)
and (-webkit-min-device-pixel-ratio: 2) {
  .application {
    background: lightsalmon;
  }
}