@import "~normalize.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
#root {
  margin: 0;
  background-color: black;
  font-family: SavoyeLetPlain;
}

.application {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.application > * {
  flex: 1 1 auto;
  width: 100vw;
  height: auto;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.bottom,
.top {
  display: flex;
}

.footer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i {
  color: #515E91;
}

.aboutpage,
.homepage,
.page404,
.portfoliopage {
  height: 70vh;
  display: flex;
}

.aboutpage > *,
.homepage > *,
.page404 > *,
.portfoliopage > * {
  flex: 1 1 auto;
}

.homepage {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: .25em;
  overflow-y: scroll;
}

.aboutpage {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

