* {
  box-sizing: border-box;
}

html {
  margin: 0, auto;
  height: 100vh;
  overflow: hidden;
}

body,
#root,
.application {
  background-color: #FFF;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header,
.content,
.footer {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  height: 15.8vh;
}

.heading1,
.heading2 {
  height: 5vh;
  letter-spacing: 1.1px;
}

.heading1 {
  text-shadow: 4px 2px 4px rgba(0,0,0,0.50);
}

.heading2 {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.50);
}

.content,
.homepage,
.portfolio {
  height: 65vh;
}

.homepage,
.portfolio {
  padding: 0.5em;
}

.footer {
  height: 19.2vh;
  letter-spacing: 1.1px;
  font-family: SavoyeLetPlain;
  font-size: 18px;
}

/* About Page */
.aboutpage {
  height: 65vh;
  padding: 1.5em;
}

/* Semanitc-UI-React */

.ui.grid {
  background-color: #FFF;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.ui.grid>.row,
.ui.grid>* {
  padding: 0;
}

.ui.grid>.column:not(.row),
.ui.grid>.row>.column {
  padding: 0;
}

.ui.header {
  margin: 0;
  font-family: SavoyeLetPlain;
}

h1.ui.header {
  font-size: 48px;
}

h4.ui.header {
  font-size: 18px;
}

.ui.menu {
  margin: 0;
  border: none;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.50);
}

.ui.centered.card {
  height: 30vh;
}

/* React-Slick Carousel */
.slick-initialized,
.slick-slider,
.slick-list {
  height: 50vh;
}

/*
background: #FFFFFF;

font-family: SavoyeLetPlain;
font-size: 48px;
color: #000000;
letter-spacing: 1.1px;
text-shadow: 4px 2px 4px rgba(0,0,0,0.50);

font-family: SavoyeLetPlain;
font-size: 18px;
color: #000000;
letter-spacing: 1.1px;
text-shadow: 4px 2px 4px rgba(0,0,0,0.50);

background: #FFFFFF;

border: 1px solid #979797;


font-family: SavoyeLetPlain;
font-size: 18px;
color: #000000;
letter-spacing: 1.1px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.50);
*/
